.flex {
  display: flex;
}

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: rgb(57, 57, 89);
  color: white;
  flex-direction: column;
}

#content {
  flex: 1;
  flex-direction: column;
}

#header {
  text-align: center;
  font-size: 30px;
  background-color: rgb(1, 1, 36);
}

#text {
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 20px;
}

#game {
  padding: 50px;
  justify-content: center;
  gap: 30px;
}

#action {
  align-self: center;
}

footer {
  padding: 10px;
  text-align: center;
  background-color: rgb(1, 1, 36);
}

