.flex {
  display: flex;
}

.shadow {
  text-shadow: 0 0 5px black;
}

body {
  height: 100vh;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.header {
  flex-direction: column;
  background-color: darkgoldenrod;
}

#logo {
  font-size: 30px;
  font-weight: bolder;
  color: #F9FAF8;
}

.bar, .presentation {
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.presentation {
  padding: 50px 0;
  align-items: flex-start;
}

.presentation > div {
  max-width: 50%;
  text-shadow: 0 0 2px black;
  align-self: center;
}

.presentation .text {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.presentation .subtext {
  font-size: 24px;
  font-weight: 500;
  color: #F9FAF8;
}

.presentation img {
  border: 2px solid brown;
  border-radius: 10px;
  width: 40%;
  height: 100%;
}

.presentation input {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid brown;
  border-radius: 10px;
  width: 100%;
  color: black;
  background-color: rgb(220, 220, 0);
}

.presentation input:hover {
  background-color: yellow;
}

.information-title {
  text-align: center;
  margin-top: 10px;
}

.information {
  justify-content: center;
  gap:100px;
  padding: 10px;
}

.image {
  width: 200px;
}

.image img {
  border: 5px solid black;
  border-radius: 16px;
  height: 100px;
  width: 100px;
}

.quote {
  box-sizing: border-box;
  height: 300px;
  padding: 15% 25%;
  background-color: #E5E7EB;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1F2937;
}

.quote .text {
  font-size: 36px;
  font-style: italic;
}

.quote .author {
  font-size: 20px;
  font-weight: bolder;
  align-self: flex-end;
  margin-top: 10px;
}

.useless {
  padding: 50px;
  margin: 50px 15%;
  gap: 50px;
  justify-content: center;
  border-radius: 16px;
  background-color: yellow;
}

.footer {
  padding: 10px;
  text-align: center;
  background-color: darkgoldenrod;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

ul li {
  color: #F9FAF8;
  font-size: 20px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: rgb(126, 29, 29);
}

a:hover {
  text-decoration: underline;
}
